# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
.DS_Store